nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
     background-color: aliceblue;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(red, green, blue, alpha);
}
.logo img{
    width: 150px;
    margin-right: 10px;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color:red;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
#navbar li a:hover{
    color: rgb(122, 4, 233);
}
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: green;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile {
    color: white;
}
#mobile{
    display: none;
}
#bar{
    color: rgba(0, 0, 255, 0.63);
}
@media screen and (max-width:769px) {

 #navbar {
    display: flex;
    color: white;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 70px;
    right: -300px;
    height: auto;
    width: 180px;
    background: rgba(2, 109, 117, 0.993);
    box-shadow: 0 40px 60px rgba(2, 102, 7, 0.61);
    padding: 10px 0 0 10px;

}
#navbar li a{
    color: white;
}
#navbar li a:hover{
    color: rgb(0, 0, 0);
}
#navbar.active{
    right: 0;
}

#navbar li{
    margin-bottom: 15px;

}
#mobile{
    display: block;
}
#mobile i{
    font-size: 24px;
    cursor: pointer;


}
.logo img{
    width: 100px;
    margin-left: 0%;
}
   
}